body {
  margin: 0;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.footer-wrapper {
  padding: 5px 30px 10px 30px;
  height: 100%;
  font-family: "Raleway", sans-serif;
  color: var(--text-color);
  background-color: #8e8e8f94;
}

.inner-footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-foot {
  padding-top: -10px;
}

.underline {
  border-bottom: 2px solid var(--text-color);
  margin-right: -25px;
  margin-left: -50px;
}

.down-foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  cursor: pointer;
}
.one,
.two,
.three {
  cursor: pointer;
}

.down-foot li {
  list-style-type: none;
  line-height: 25px;
  font-weight: 500;
  font-weight: 600;
  cursor: pointer;
}
.down-foot li:hover {
  font-weight: 500;
  text-decoration: underline;
}

.four img {
  width: 170px;
  cursor: pointer;
}
.four p {
  font-size: 0.8rem;
  padding-left: 45px;
  font-weight: 500;
}
