body {
  margin: 0;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.footer-wrapper {
  padding: 5px 30px 10px 30px;
  height: 100%;
  font-family: "Raleway", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-top: 2px solid var(--text-color);
}

.inner-footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-foot {
  padding-top: -10px;
}

.text-wiba {
  margin-top: -10px;
  text-align: center;
  color: grey;
  font-size: 0.8rem;
}

.underline {
  border-bottom: 2px solid var(--text-color);
  margin-right: -25px;
  margin-left: -50px;
}

.down-foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  cursor: pointer;
}
.one,
.two,
.three {
  cursor: pointer;
}

.down-foot li {
  list-style-type: none;
  line-height: 25px;
  font-weight: 500;
  font-weight: 600;
  cursor: pointer;
}
.down-foot li:hover {
  font-weight: 500;
  text-decoration: underline;
}

/* .four img {
  width: 170px;
  cursor: pointer;
} */
.four-side p {
  font-size: 0.8rem;
  padding-left: 45px;
  font-weight: 500;
}

/* Portrait View Responsiveness */
@media (max-width: 600px) {
  .footer-wrapper {
    padding: 5px 15px 10px 15px;
    margin-top: 20px;
  }
  .top-foot h1 {
    font-size: 1.1rem;
    line-height: 25px;
  }
  .inner-footer {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .down-foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    padding-top: 20px;
  }
  .down-foot li {
    padding: 5px;
    list-style-type: none;
    font-size: 0.8rem;
    line-height: 15px;
    font-weight: 600;
    /* font-weight: 600; */
    cursor: pointer;
  }
  .down-foot li:hover {
    font-weight: 500;
    text-decoration: underline;
  }
  /* .four {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .four img {
    margin-top: 20px;
    margin-bottom: -20px;
    width: 150px;
    cursor: pointer;
  } */
  .underline {
    border-bottom: 2px solid var(--text-color);
    margin-right: -12px;
    margin-left: -25px;
  }

  .four-side {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .four-side p {
    font-size: 0.7rem;
    font-weight: 500;
    padding-left: 10px;
  }
}
