body {
  margin: 0;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--bg-color);
}

input.reset-text {
  width: 250px;
  height: 25px;
  padding: 5px 10px;
  font-size: 1rem;
  margin-bottom: 25px;
  outline: none;
  border: 1.5px solid var(--text-color);
  border-radius: 5px;
}

button.send-reset {
  text-decoration: none;
  align-items: center;
  border: none;
  font-size: 1rem;
  padding: 10px;
  border-radius: 50px;
  padding-right: 15px;
  cursor: pointer;
  background-color: var(--logo-color);
  color: var(--bg-color);
}

.success-message {
  margin-top: -15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.email-success {
  width: 70px;
  height: 70px;
  overflow: hidden;
}
.email-success img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Portrait View Responsiveness */
@media (max-width: 600px) {
  .success-message {
    margin-top: -50px;
  }
}

/* Landscape and iPad View */
@media (min-width: 600px) and (max-width: 900px) {
  .success-message {
    margin-top: -150px;
  }
}
