body {
  margin: 0;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.Gst113-wrapper {
  padding: 20px 50px 10px 50px;
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: var(--bg-color);
  width: 300px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #fff;
}

.popup-texts p {
  margin-top: -10px;
  color: #dc3545;
  font-weight: bold;
}

.popup-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.popup-btns button {
  padding: 7px;
  width: 100px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.popup-btns button:first-child {
  background-color: #075419;
  color: #fff;
}
.popup-btns button:first-child:hover {
  background-color: #28a745;
}
.popup-btns button:last-child {
  background-color: #de081e;
  color: #fff;
}
.popup-btns button:last-child:hover {
  background-color: #dc3545;
}

.popup-backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #ff2622ef;
  background-color: transparent;
  padding: 5px;
  border-radius: 10px;
  margin: 0px auto;
  margin-top: -30px;
  width: 10%;
  border: 0.5px solid var(--text-color);
}

/*  animation when timer is 5 secs or less ff5722*/
.timer.low {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    color: #ff2622ef;
  }
  50% {
    transform: scale(1.1);
    /* background-color: #d32f2f; */
    color: #d32f2f;
  }
  100% {
    transform: scale(1);
    color: #ff2622ef;
  }
}

.Gst113-inner {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.quiz-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.emoji {
  margin: auto;
  margin-top: -10px;
  margin-bottom: -20px;
  width: 10rem;
  overflow: hidden;
}

.emoji img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.retake button {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  width: 150px;
  padding: 10px;
  background-color: var(--logo-color);
  color: var(--bg-color);
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.retake button > p {
  padding: 0px;
  margin: 0;
}
.save button {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  width: 150px;
  padding: 10px;
  background-color: var(--logo-color);
  color: var(--bg-color);
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.save button > p {
  padding: 0px;
  margin: 0;
}

.quiz-type {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  width: 300px;
  border: 1px solid var(--text-color);
  border-radius: 50px;
}
.quiz-type h2 {
  line-height: 2px;
  font-size: 1.3rem;
}

button.back {
  text-decoration: none;
  align-items: center;
  border: none;
  font-size: 0.9rem;
  padding: 8px;
  border-radius: 50px;
  padding-right: 15px;
  cursor: pointer;
  background-color: var(--logo-color);
  color: var(--bg-color);
}

.question-section {
  padding: 20px;
  box-shadow: 0 2px 2px var(--text-color);
  z-index: 1100;
}

.question-section p {
  margin-bottom: 15px;
  margin-top: -5px;
}

.question-length {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-length p {
  font-weight: 600;
  font-size: 1.3rem;
}

.question p {
  padding-top: 50px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 1.1rem;
}

.options button {
  display: block;
  width: 100%;
  text-align: left;
  margin: 10px auto;
  padding: 10px;
  font-size: 0.9rem;
  background-color: #faf6f6;
  border: 1px solid var(--logo-color);
  color: #000000;
  cursor: pointer;
}

.options button.correct {
  background-color: #28a745;
  color: white;
}

.options button.wrong {
  background-color: #dc3545;
  color: white;
}

.options button:disabled {
  cursor: not-allowed;
}

/* Portrait View Responsiveness */
@media (max-width: 600px) {
  .quiz-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .emoji {
    margin-top: -5px;
    margin-bottom: -15px;
  }

  .Gst113-wrapper {
    padding: 20px 20px 10px 20px;
  }

  .timer {
    font-size: 1rem;
    display: flex;
    align-items: center;
    width: 20%;
    margin-top: -10px;
    margin-bottom: -20px;
    padding: 3px;
  }

  .Gst113-inner {
    margin: auto;
    max-width: 100%;
    width: 95%;
    padding: 0px;
    margin-top: 50px;
  }

  .question-section {
    padding: 10px;
    z-index: 1100;
  }

  .quiz-type {
    width: 80%;
  }
  .quiz-type h2 {
    font-size: 1.2rem;
  }

  .question-length {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .question-length p {
    font-size: 1.2rem;
  }

  .questions {
    margin: auto;
    max-width: 100%;
    padding: 10px;
  }

  .question p {
    font-size: 1rem;
  }
}
