body {
  margin: 0;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.header-wrapper {
  position: relative;
  padding: 10px 20px 10px 20px;
  height: 100%;
  box-shadow: 0 5px 5px var(--text-color);
}

.inner-h {
  position: relative;
  /* box-shadow: 0, 4px, 10px var(--shadow-color); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner-h-old {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner-h-new {
  display: none;
}

.icon-menu {
  display: none;
}
.logo-new {
  display: none;
}

.search-div {
  display: none;
}

.logo img {
  width: 90px;
  cursor: pointer;
}

.inner-one {
  display: flex;
  justify-content: space-between;
}

ul.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li.menu-items-wrapper {
  position: relative;
  padding-right: 30px;
  font-weight: 600;
}

.sub-menu {
  cursor: pointer;
}

ul.sub-menu {
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 10px;
  background-color: var(--bg-color);
  border-radius: 5px;
  z-index: 100;
  display: none;
  box-shadow: 0 5px 3px var(--text-color);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slideIn {
  animation: slideIn 0.3s ease-out;
}

li.menu-items-wrapper:hover > ul.sub-menu,
ul.sub-menu:hover {
  display: block;
  opacity: 1;
}

li.menu-items-wrapper:hover ul.sub-menu {
  display: block;
}

li.menu-items-wrapper:hover,
ul.sub-menu:hover {
  opacity: 1;
}

li.sub-menu-items {
  list-style-type: none;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 0.9rem;
  font-weight: 500;
}
li.sub-menu-items:hover {
  text-decoration: underline;
  transform: scaleY(1.1);
}

.custom-links {
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}

.inner-two {
  position: relative;
  align-items: center;
  z-index: 1000;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

.inner-two input {
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 15px;
  padding-left: 40px;
  width: 300px;
  border-radius: 50px;
  font-size: 0.9rem;
  z-index: 1000;
}

.login-signup {
  display: flex;
  gap: 10px;
  margin-left: 25px;
  margin-right: 15px;
}
button.btn1 {
  padding: 10px;
  width: 80px;
  border: none;
  background-color: var(--logo-color);
  color: var(--bg-color);
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.link {
  color: var(--bg-color);
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
}
.link2 {
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
}

button.btn2 {
  padding: 10px;
  width: 80px;
  border: none;
  background-color: var(--logo-text-color);
  color: var(--text-color);
  border: 2px solid var(--text-color);
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button.btn1:hover {
  transform: scaleY(1.1);
}
button.btn2:hover {
  transform: scaleY(1.1);
}

.theme-icon {
  cursor: pointer;
  border: 2px solid var(--text-color);
  align-items: center;
  width: 20px;
  padding: 3px;
  border-radius: 50%;
}

/* Portrait View Responsiveness */
@media (max-width: 600px) {
  .header-wrapper {
    position: relative;
    padding: 10px 10px 10px 10px;
    height: 100%;
    box-shadow: 0 5px 5px var(--text-color);
  }
  .inner-h {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5px;
    /* transition: height 0.3s ease, margin-bottom 0.3s ease; */
  }

  .fa-times {
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    background-color: var(--bg-color);
  }

  .back-drop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    z-index: 5;
    transition: opacity 0.3s ease-in-out;
  }

  .icon-menu {
    display: block;
    z-index: 1100;
    transition: all 0.3s ease;
  }
  .menu-open-icon {
    position: fixed;
    top: 10px;
    left: 60%;
    z-index: 1100;
  }

  .logo {
    display: none;
  }
  .logo-new {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
  .logo-new img {
    width: 90px;
    cursor: pointer;
    margin: 0 auto;
  }
  .search-div {
    display: block;
    margin-left: auto;
    /* position: inherit; */
  }
  /* .search-icon-new {
    position: fixed;
    top: 3.5%;
    right: 5.5%;
    cursor: pointer;
    z-index: 1000;
  } */

  .inner-h-old {
    display: none;
  }

  ul.menu-new {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .icon-div-new {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  .theme-icon-new {
    cursor: pointer;
    border: 2px solid var(--text-color);
    align-items: center;
    width: 15px;
    padding: 3px;
    margin-top: -2px;
    margin-left: 10px;
    border-radius: 50%;
  }

  .login-signup {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
  }

  .menu-open .inner-h-new {
    transform: translateX(0);
  }
  .menu-open {
    height: auto;
  }

  .inner-h-new {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    z-index: 100;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
  }
  .inner-one-new {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
  }

  .arrow-new {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li.menu-items-wrapper-new {
    position: relative;
    padding-bottom: 20px;
    font-weight: 600;
    width: 100%;
  }

  .sub-menu-new {
    cursor: pointer;
  }

  ul.sub-menu-new {
    /* position: absolute; */
    width: 80%;
    top: 100%;
    left: 0;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--bg-color);
    border-radius: 5px;
    z-index: 100;
    display: none;
    box-shadow: 0 5px 3px var(--text-color);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  ul.sub-menu-new li {
    width: 50%;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .slideIn {
    animation: slideIn 0.3s ease-out;
  }

  li.menu-items-wrapper-new:hover > ul.sub-menu-new,
  ul.sub-menu-new:hover {
    display: block;
    opacity: 1;
  }

  li.menu-items-wrapper-new:hover ul.sub-menu-new {
    display: block;
  }

  li.menu-items-wrapper-new:hover,
  ul.sub-menu-new:hover {
    opacity: 1;
  }

  li.sub-menu-items-new {
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 0.9rem;
    font-weight: 500;
  }
  li.sub-menu-items-new:hover {
    text-decoration: underline;
    transform: scaleY(1.1);
  }

  .custom-links-new {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    width: 100%;
    word-wrap: break-word; /* this one dey break long word */
    /* Allow text to wrap to new lines */
  }
}

/* Landscape and iPad View */
@media (min-width: 600px) and (max-width: 900px) {
  .header-wrapper {
    position: relative;
    padding: 10px 10px 10px 10px;
    height: 100%;
    box-shadow: 0 5px 5px var(--text-color);
  }
  .inner-h {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5px;
    /* transition: height 0.3s ease, margin-bottom 0.3s ease; */
  }

  .fa-times {
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    background-color: var(--bg-color);
  }

  .back-drop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    z-index: 5;
    transition: opacity 0.3s ease-in-out;
  }

  .icon-menu {
    display: block;
    z-index: 1100;
    transition: all 0.3s ease;
  }
  .menu-open-icon {
    position: fixed;
    top: 10px;
    left: 60%;
    z-index: 1100;
  }

  .logo {
    display: none;
  }
  .logo-new {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
  .logo-new img {
    width: 90px;
    cursor: pointer;
    margin: 0 auto;
  }
  .search-div {
    display: block;
    margin-left: auto;
    /* position: inherit; */
  }
  /* .search-icon-new {
    position: fixed;
    top: 3.5%;
    right: 5.5%;
    cursor: pointer;
    z-index: 1000;
  } */

  .inner-h-old {
    display: none;
  }

  ul.menu-new {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .icon-div-new {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  .theme-icon-new {
    cursor: pointer;
    border: 2px solid var(--text-color);
    align-items: center;
    width: 15px;
    padding: 3px;
    margin-top: -2px;
    margin-left: 10px;
    border-radius: 50%;
  }

  .login-signup {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
  }

  .menu-open .inner-h-new {
    transform: translateX(0);
  }
  .menu-open {
    height: auto;
  }

  .inner-h-new {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    z-index: 100;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
  }
  .inner-one-new {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
  }

  .arrow-new {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li.menu-items-wrapper-new {
    position: relative;
    padding-bottom: 20px;
    font-weight: 600;
    width: 100%;
  }

  .sub-menu-new {
    cursor: pointer;
  }

  ul.sub-menu-new {
    /* position: absolute; */
    width: 80%;
    top: 100%;
    left: 0;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--bg-color);
    border-radius: 5px;
    z-index: 100;
    display: none;
    box-shadow: 0 5px 3px var(--text-color);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  ul.sub-menu-new li {
    width: 50%;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .slideIn {
    animation: slideIn 0.3s ease-out;
  }

  li.menu-items-wrapper-new:hover > ul.sub-menu-new,
  ul.sub-menu-new:hover {
    display: block;
    opacity: 1;
  }

  li.menu-items-wrapper-new:hover ul.sub-menu-new {
    display: block;
  }

  li.menu-items-wrapper-new:hover,
  ul.sub-menu-new:hover {
    opacity: 1;
  }

  li.sub-menu-items-new {
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 0.9rem;
    font-weight: 500;
  }
  li.sub-menu-items-new:hover {
    text-decoration: underline;
    transform: scaleY(1.1);
  }

  .custom-links-new {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    width: 100%;
    word-wrap: break-word; /* this one dey break long word */
    /* Allow text to wrap to new lines */
  }
}

@media (max-width: 1024px) {
  .inner-two input {
    padding: 1px;
    padding-left: 40px;
    width: 150px;
  }
}
