body {
  margin: 0;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.signup-wrapper {
  padding: 50px 20px 50px 20px;
  height: 100%;
  /* width: 100%; */
}

.signup-wrapper h1 {
  text-align: center;
  font-size: 2rem;
  line-height: 15px;
  margin-top: 2px;
}

.signup-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.inner-signup {
  box-shadow: 0 2px 2px var(--text-color);
  width: 20rem;
  padding: 20px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-input1 {
  padding: 10px;
}

.signup-input1 input {
  padding-left: 10px;
  width: 300px;
  height: 35px;
  border: 1px solid var(--text-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: 500;
  font-size: 1rem;
  border-radius: 5px;
}
.signup-input1 input::placeholder {
  color: var(--text-color);
  font-size: 0.9rem;
}

.signup-input2 {
  padding: 10px;
}

.signup-input2 input {
  padding-left: 10px;
  width: 300px;
  height: 35px;
  border: 1px solid var(--text-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: 500;
  font-size: 1rem;
  border-radius: 5px;
}
.signup-input2 input::placeholder {
  color: var(--text-color);
  font-size: 0.9rem;
}

.input-wrapper1 {
  position: relative;
  width: 100%;
  max-width: 400px;
}

span.show-password1 {
  position: absolute;
  top: 58%;
  right: 5%;
  transform: translateY(-50%);
  cursor: pointer;
}

.error-text {
  text-align: right;
  margin: 0;
  padding: 0;
}
p.error-message1 {
  font-size: 0.8rem;
  margin-top: -10px;
  margin-bottom: 2px;
}

button.signup {
  align-self: flex-start;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: var(--logo-color);
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.3s ease;
  border-radius: 5px;
}

.already-have {
  font-size: 0.9rem;
}
.signup-link {
  font-weight: bold;
}

/* Success popup after successful signup */

.success-popup1 {
  position: fixed;
  top: 20%;
  left: 20%;
  transform: translateX(-50%);
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  z-index: 1000;
}

/* Portrait View Responsiveness */
@media (max-width: 600px) {
  .success-popup1 {
    top: 10%;
    left: 25%;
    padding: 7px;
    border-radius: 5px;
  }

  .signup-wrapper {
    padding: 30px 20px 50px 20px;
    height: 100%;
  }

  .signup-wrapper h1 {
    text-align: center;
    font-size: 1.7rem;
    line-height: 40px;
  }
  .inner-signup {
    margin-top: 25px;
  }
  .signup-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
