body {
  margin: 0;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--bg-color);
}
.getaway-wrapper {
  padding: 20px 50px 10px 50px;
}

.getaway-wrapper h1 {
  font-size: 2rem;
  padding-bottom: 20px;
  padding-top: 20px;
}

.inner-getaway {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.getaway-one {
  width: 100%;
  height: 100%;
}

.small-get {
  width: 37rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: 0 2px 2px var(--text-color);
  padding: 15px;
  cursor: pointer;
  margin-bottom: 30px;
}

.small-get:hover {
  background-color: #8e8e8f94;
}

.get-icon {
  width: 30%;
  font-size: 3rem;
  margin-right: 15px;
  text-align: center;
}
.get-text {
  width: 100%;
}
.get-text h2 {
  line-height: 5px;
}

.getaway-two {
  align-self: flex-start;
}

.getImage-container {
  /* margin-top: -25px; */
  width: 33rem;
  height: 38rem;
}

.getImage-container img {
  width: 100%;
  height: 100%;
}

.first-step h1 {
  font-size: 2rem;
  margin-left: 15px;
  padding-top: 40px;
}

.step-one {
  margin-top: -10px;
  margin-bottom: 30px;
  cursor: pointer;
  width: 33rem;
  height: 7rem;
  background-color: #8e8e8f94;
  padding: 20px;
  border-radius: 10px;
}

.step-link {
  text-decoration: none;
  color: var(--text-color);
}

.step-one:hover {
  background-color: #8e8e8fc6;
}

.step-one h2 {
  font-size: 1.3rem;
  line-height: 10px;
}
.step-one p {
  font-size: 1.1rem;
}

.steps-flex {
  padding: 15px;
  padding-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note {
  width: 45%;
  float: right;
  margin-top: -30px;
  margin-bottom: 20px;
}

.note p {
  font-size: 1.1rem;
}

.note-link {
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
}
.note-link:hover {
  text-decoration: underline;
}

/* Portrait View Responsiveness */
@media (max-width: 600px) {
  .getaway-wrapper h1 {
    font-size: 1.5rem;
  }
  .inner-getaway {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .getaway-two {
    display: none;
  }
  .getaway-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .small-get {
    width: 20rem;
  }
  .get-icon {
    width: 30%;
    font-size: 3rem;
    margin-right: 15px;
    text-align: center;
  }
  .get-text {
    width: 100%;
  }
  .get-text h2 {
    line-height: 5px;
    font-size: 1.2rem;
  }
  .get-text p {
    font-size: 0.9rem;
  }
  .first-step h1 {
    margin: auto;
    margin-top: -15px;
    font-size: 1.5rem;
    text-align: left;
  }
  .steps-flex {
    padding: 2px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .step-one {
    margin-top: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    width: 20rem;
    height: auto;
    background-color: #8e8e8f94;
    padding: 10px;
    padding-top: 1px;
    border-radius: 10px;
  }
  .step-one h2 {
    font-size: 1.2rem;
    line-height: 30px;
  }
  .step-one p {
    font-size: 1rem;
  }
  .note {
    width: 50%;
    float: right;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  .note p {
    font-size: 0.8rem;
  }
}

/* Landscape and iPad View */
@media (min-width: 600px) and (max-width: 900px) {
  .getaway-wrapper {
    padding: 0px 30px 10px 30px;
  }

  .getaway-wrapper h1 {
    font-size: 1.8rem;
  }
  .inner-getaway {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .getaway-one {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .getaway-two {
    display: none;
    /* margin-left: 20px;
    align-self: flex-start; */
  }
  /* .getImage-container {
    width: 18rem;
    height: 100%;
  }

  .getImage-container img {
    width: 100%;
    height: 100%;
  } */

  .small-get {
    padding: 5px;
    width: 20rem;
    height: 10rem;
  }
  .get-icon {
    width: 30%;
    font-size: 3rem;
    margin-right: 15px;
    text-align: center;
  }
  .get-text {
    width: 100%;
  }
  .get-text h2 {
    line-height: 5px;
  }
  .first-step h1 {
    margin: auto;
    font-size: 1.8rem;
    text-align: center;
  }
  .steps-flex {
    margin: 0;
    padding: 2px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .side-one,
  .side-two {
    margin-right: 5px;
    margin-left: 5px;
  }
  .step-one {
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    width: 20rem;
    height: 11rem;
    background-color: #8e8e8f94;
    padding: 15px;
    padding-top: 1px;
    border-radius: 10px;
  }
  .step-one h2 {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .step-one p {
    font-size: 1.1rem;
  }
  .note {
    width: 40%;
    float: right;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  .note p {
    font-size: 0.8rem;
  }
}

@media (min-width: 901px) and (max-width: 1280px) {
  .first-step {
    max-width: 100%;
  }

  .step-one {
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    width: 30rem;
    height: 11rem;
    background-color: #8e8e8f94;
    padding: 15px;
    padding-top: 1px;
    border-radius: 10px;
  }

  .step-one h2 {
    font-size: 1.7rem;
    line-height: 35px;
  }
}
