.department {
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  font-weight: 600;
}

.department select {
  border: 2px solid var(--text-color);
  color: var(--text-color);
}

.department-icon {
  position: absolute;
  left: 90.7%;
  cursor: pointer;
  color: var(--text-color);
  z-index: 1000;
}

/* Portrait/Mobile View */
@media (max-width: 600px) {
  .department {
    justify-content: right;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 30px;
    color: #000;
  }
  .department select {
    width: 42%;
    font-size: 0.9rem;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    background-color: transparent;
    border-radius: none;
    appearance: none;
  }

  .department-icon {
    position: absolute;
    left: 88.5%;
    cursor: pointer;
    color: var(--text-color);
    z-index: 1000;
  }
}
