body {
  margin: 0;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.main-header-wrapper {
  position: relative;
  padding: 10px 50px 10px 50px;
  height: 100%;
  border-bottom: 2px solid var(--text-color);
}

.main-inner-h {
  position: relative;
  /* box-shadow: 0, 4px, 10px var(--shadow-color); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-inner-h-old {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.last-side1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.last-side2 {
  width: 165px;
  /* margin-left: 50px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-inner-h-new {
  display: none;
}

.main-icon-menu {
  display: none;
}
.main-logo-new {
  display: none;
}

.main-search-div {
  display: none;
}

.main-logo img {
  width: 90px;
  cursor: pointer;
}

.main-inner-one {
  display: flex;
  justify-content: space-between;
}

ul.main-menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li.main-menu-items-wrapper {
  position: relative;
  padding-right: 40px;
  font-weight: 600;
}

.main-sub-menu {
  cursor: pointer;
}

ul.main-sub-menu {
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 10px;
  background-color: var(--bg-color);
  border-radius: 5px;
  z-index: 100;
  display: none;
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.flex-ul {
  display: flex;
  align-items: center;
  gap: 5px;
}

.chevron-icon {
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  /* border: 1px solid var(--text-color); */
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slideIn {
  animation: slideIn 0.3s ease-out;
}
li.main-menu-items-wrapper:hover > ul.main-sub-menu,
ul.main-sub-menu:hover {
  display: block;
  opacity: 1;
}

li.main-menu-items-wrapper:hover ul.main-sub-menu {
  display: block;
}

li.main-menu-items-wrapper:hover,
ul.main-sub-menu:hover {
  opacity: 1;
}

li.main-sub-menu-items {
  list-style-type: none;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 0.9rem;
  font-weight: 500;
}
li.main-sub-menu-items:hover {
  text-decoration: underline;
  transform: scaleY(1.1);
}

.main-custom-links {
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}

.main-inner-two {
  position: relative;
  align-items: center;
  z-index: 1000;
}

.main-search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.main-inner-two input {
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 15px;
  padding-left: 30px;
  width: 300px;
  border-radius: 50px;
  font-size: 0.9rem;
  z-index: 1000;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 10px;
  right: 0;
  background: var(--bg-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.suggestion-item:hover {
  background: #999;
}

.profile {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.user-profile-picture0 {
  overflow: hidden;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  /* border: 1px solid var(--text-color); */
}
.user-profile-picture0 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active-status {
  position: absolute;
  top: 66.5%;
  right: 8.8%;
  width: 10px;
  height: 10px;
  z-index: 1000;
  border-radius: 50%;
  border: 1px solid rgb(227, 226, 226);
  background-color: rgb(42, 196, 42);
}

.profile p {
  font-size: 1.1rem;
  line-height: 1px;
  font-weight: bold;
}

button.main-btn1 {
  padding: 10px;
  width: 80px;
  border: none;
  background-color: var(--logo-color);
  color: var(--bg-color);
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.main-link {
  color: var(--bg-color);
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
}
.main-link2 {
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
}

button.main-btn2 {
  padding: 10px;
  width: 80px;
  border: none;
  background-color: var(--logo-text-color);
  color: var(--text-color);
  border: 2px solid var(--text-color);
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button.main-btn1:hover {
  transform: scaleY(1.1);
}
button.main-btn2:hover {
  transform: scaleY(1.1);
}

.main-icon-div {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0%;
}

.main-theme-icon {
  cursor: pointer;
  border: 2px solid var(--text-color);
  align-items: center;
  width: 18px;
  padding: 2px;
  border-radius: 50%;
}
.logout {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  width: 65px;
  height: 100%;
  padding: 5px 5px 5px 8px;
  border-radius: 50px;
  background-color: rgba(255, 0, 0, 0.863);
}

/* Portrait View Responsiveness */
@media (max-width: 600px) {
  .main-inner-h-old {
    display: none;
  }

  .main-header-wrapper {
    position: relative;
    padding: 10px 10px 10px 10px;
    height: 100%;
    border-bottom: 2px solid var(--text-color);
  }
  .main-inner-h {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5px;
    /* transition: height 0.3s ease, margin-bottom 0.3s ease; */
  }

  .main-fa-times {
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    background-color: var(--bg-color);
  }

  .main-back-drop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    z-index: 5;
    transition: opacity 0.3s ease-in-out;
  }
  .main-search-back-drop {
    position: fixed;
    top: 9%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    z-index: 5;
    transition: opacity 0.3s ease-in-out;
  }

  .main-icon-menu {
    display: block;
    z-index: 100;
    transition: all 0.3s ease;
  }
  .main-menu-open-icon {
    position: fixed;
    top: 10px;
    left: 70%;
    z-index: 1100;
  }

  .main-logo {
    display: none;
  }
  .main-logo-new {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
  .main-logo-new img {
    width: 90px;
    cursor: pointer;
    margin: 0 auto;
  }

  .main-search-div {
    display: block;
    position: relative;
    right: 0;
    z-index: 1000;
  }

  /* Fullscreen search overlay */
  .main-search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    z-index: 1200;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
  }

  /* Search input styling within the overlay */
  .main-search-wrapper {
    width: 90%;
    max-width: 500px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .main-search-wrapper input {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    outline: none;
    border: none;
    border-bottom: 1.5px solid var(--text-color);
    border-radius: 0px;
  }

  .close-search-icon {
    color: var(--text-color);
    cursor: pointer;
  }

  .suggestions-list {
    position: absolute;
    top: 15%;
    left: 7%;
    right: 0;
    max-width: 80%;
    max-height: 300px;
    background: var(--bg-color);
    border: 1px solid var(--text-color);
    border-top: 0px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 2100;
  }

  .suggestion-item {
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s;
  }

  .suggestion-item:hover {
    background: none;
  }

  ul.main-menu-new {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .main-icon-div-new {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  .main-theme-icon-new {
    cursor: pointer;
    border: 2px solid var(--text-color);
    align-items: center;
    width: 15px;
    padding: 3px;
    margin-top: -2px;
    margin-left: 10px;
    border-radius: 50%;
  }

  .profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .profile {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4px;
    margin-bottom: 8px;
  }

  .main-login-signup {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
  }

  .main-menu-open .main-inner-h-new {
    transform: translateX(0);
  }
  .main-menu-open {
    height: auto;
  }

  .main-inner-h-new {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    z-index: 100;
    border-right: 2px solid var(--text-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    z-index: 1100;
  }
  .main-inner-one-new {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 5px;
    width: 100%;
  }

  .chevron-icon {
    padding: 2px 3px;
    border-radius: 50%;
    border: 1px solid var(--text-color);
  }

  .main-arrow-new {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li.main-menu-items-wrapper-new {
    position: relative;
    padding-bottom: 0px;
    font-weight: 600;
    width: 100%;
  }

  .main-sub-menu-new {
    cursor: pointer;
  }

  ul.main-sub-menu-new {
    /* position: absolute; */
    width: 90%;
    top: 100%;
    left: 0;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--bg-color);
    z-index: 100;
    display: none;
    border-bottom: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  ul.main-sub-menu-new li {
    width: 50%;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .slideIn {
    animation: slideIn 0.3s ease-out;
  }

  li.main-menu-items-wrapper-new:hover > ul.main-sub-menu-new,
  ul.main-sub-menu-new:hover {
    display: block;
    opacity: 1;
  }

  li.main-menu-items-wrapper-new:hover ul.main-sub-menu-new {
    display: block;
  }

  li.main-menu-items-wrapper-new:hover,
  ul.main-sub-menu-new:hover {
    opacity: 1;
  }

  li.main-sub-menu-items-new {
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 0.9rem;
    font-weight: 500;
  }
  li.main-sub-menu-items-new:hover {
    text-decoration: underline;
    transform: scaleY(1.1);
  }

  .main-custom-links-new {
    display: flex;
    gap: 15px;
    font-size: 1.05rem;
    line-height: 2px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    word-wrap: break-word; /* this one dey break long word */
    /* Allow text to wrap to new lines */
  }

  .logout-btn {
    position: absolute;
    left: 7%;
    bottom: 15%;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .logout-btn p {
    padding-right: 10px;
  }

  .active-user-link {
    width: 100%;
    padding: 5px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    gap: 15px;
    position: relative;
  }

  .user-profile-picture {
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: 1px solid var(--text-color); */
  }
  .user-profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .active-status {
    position: absolute;
    top: 65%;
    left: 17%;
    width: 10px;
    height: 10px;
    z-index: 1000;
    border-radius: 50%;
    border: 1px solid rgb(227, 226, 226);
    background-color: rgb(42, 196, 42);
  }

  .user-profile-text {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }
  span.span11 {
    font-size: 1.1rem;
    font-weight: 600;
  }
  span.span22 {
    font-size: 14px;
    color: gray;
  }
}

/* Landscape and iPad View */
@media (min-width: 600px) and (max-width: 900px) {
  .main-header-wrapper {
    position: relative;
    padding: 10px 10px 10px 10px;
    height: 100%;
    box-shadow: 0 5px 5px var(--text-color);
  }
  .main-inner-h {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5px;
    /* transition: height 0.3s ease, margin-bottom 0.3s ease; */
  }

  .profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .profile {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4px;
    margin-bottom: 8px;
  }

  .main-fa-times {
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    background-color: var(--bg-color);
  }

  .main-back-drop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    z-index: 5;
    transition: opacity 0.3s ease-in-out;
  }

  .main-search-back-drop {
    position: fixed;
    top: 20%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    z-index: 5;
    transition: opacity 0.3s ease-in-out;
  }

  .main-icon-menu {
    display: block;
    z-index: 100;
    transition: all 0.3s ease;
  }
  .main-menu-open-icon {
    position: fixed;
    top: 10px;
    left: 60%;
    z-index: 100;
  }

  .main-logo {
    display: none;
  }
  .main-logo-new {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
  .main-logo-new img {
    width: 90px;
    cursor: pointer;
    margin: 0 auto;
  }

  .main-search-div {
    display: block;
    position: relative;
    right: 0;
    z-index: 1000;
  }

  .main-search-overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-search-wrapper input {
    width: 100%;
    padding: 20px;
    font-size: 1rem;
    font-style: italic;
    font-weight: 600;
    color: var(--text-color);
    box-shadow: 0 5px 5px var(--text-color);
    background-color: var(--bg-color);
    border: none;
  }

  .main-inner-h-old {
    display: none;
  }

  ul.main-menu-new {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .main-icon-div-new {
    margin-top: 5px;
    display: flex;
    align-items: center;
  }

  .main-theme-icon-new {
    cursor: pointer;
    border: 2px solid var(--text-color);
    align-items: center;
    width: 17px;
    padding: 3px;
    margin-top: -2px;
    margin-left: 10px;
    border-radius: 50%;
  }

  .main-login-signup {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
  }

  .main-menu-open .main-inner-h-new {
    transform: translateX(0);
  }
  .main-menu-open {
    height: auto;
  }

  .main-inner-h-new {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    z-index: 100;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    z-index: 1100;
  }
  .main-inner-one-new {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
  }

  .main-arrow-new {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li.main-menu-items-wrapper-new {
    position: relative;
    padding-bottom: 20px;
    font-weight: 600;
    width: 100%;
  }

  .main-sub-menu-new {
    cursor: pointer;
  }

  ul.main-sub-menu-new {
    /* position: absolute; */
    width: 80%;
    top: 100%;
    left: 0;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--bg-color);
    border-radius: 5px;
    z-index: 100;
    display: none;
    box-shadow: 0 5px 3px var(--text-color);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  ul.main-sub-menu-new li {
    width: 50%;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .slideIn {
    animation: slideIn 0.3s ease-out;
  }

  li.main-menu-items-wrapper-new:hover > ul.main-sub-menu-new,
  ul.main-sub-menu-new:hover {
    display: block;
    opacity: 1;
  }

  li.main-menu-items-wrapper-new:hover ul.main-sub-menu-new {
    display: block;
  }
  main- li.main-menu-items-wrapper-new:hover,
  ul.main-sub-menu-new:hover {
    opacity: 1;
  }

  li.main-sub-menu-items-new {
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 0.9rem;
    font-weight: 500;
  }
  li.main-sub-menu-items-new:hover {
    text-decoration: underline;
    transform: scaleY(1.1);
  }

  .main-custom-links-new {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    width: 100%;
    word-wrap: break-word; /* this one dey break long word */
    /* Allow text to wrap to new lines */
  }
}

@media (max-width: 1024px) {
  .main-inner-two input {
    padding: 1px;
    padding-left: 40px;
    width: 150px;
  }
}
