@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --logo-color: #2b33ff;
  --logo-text-color: #fff;
  --logo-red-color: #f11010;
  --bg-color: #fff;
  --black-bg: #000000ee;
  --text-color: #000000;
  --shadow-color: rgb(241, 243, 252);
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  transition: all 0.5s ease;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Style the previous arrow (left) */
.slick-prev {
  position: absolute;
  left: 1%;
  top: 45%;
  z-index: 1000;
}

/* Style the next arrow (right) */
.slick-next {
  position: absolute;
  right: 2.5%;
  top: 45%;
  z-index: 1000;
}

/* Adjust vertical alignment */
.slick-prev,
.slick-next {
  /* top: 50%; Center vertically */
  transform: translateY(-50%);
}

/* Adjust size and appearance of arrows */
.slick-prev::before,
.slick-next::before {
  font-size: 40px;
  color: var(--bg-color);
  border-radius: 50%;
  background-color: var(--text-color);
}

/* Loading Bar */
.load-slide {
  width: 100%;
  height: 8px;
  position: absolute;
  top: 0;
  left: 0;
}

.load-bar {
  height: 100%;
  background-color: #2b33ff;
  width: 0%;
  animation: load-bar 2s ease-out forwards;
}

@keyframes load-bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@media (max-width: 600px) {
  /* Style the previous arrow (left) */
  .slick-prev {
    position: absolute;
    left: -2.5%;
    top: 45%;
    z-index: 1000;
  }

  /* Style the next arrow (right) */
  .slick-next {
    position: absolute;
    right: 2.5%;
    top: 45%;
    z-index: 1000;
  }

  /* Adjust vertical alignment */
  .slick-prev,
  .slick-next {
    /* top: 50%; Center vertically */
    transform: translateY(-50%);
  }

  /* Adjust size and appearance of arrows */
  .slick-prev::before,
  .slick-next::before {
    font-size: 40px;
    color: var(--bg-color);
    border-radius: 50%;
    background-color: var(--text-color);
  }
  .load-slide {
    height: 6px;
  }
}

/* Landscape and iPad View */
@media (min-width: 600px) and (max-width: 900px) {
  .slick-prev,
  .slick-next {
    display: none;
  }
  .slick-prev::before,
  .slick-next::before {
    display: none;
  }
}
